<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>proyecto_EE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <description>Descripcion de la app</description>
      <servlet>
	  <servlet-name>Servlet-A</servlet-name>
	  <servlet-class>ServletA</servlet-class>
	  </servlet>
      <servlet>
      	<servlet-name>Servlet-B</servlet-name>
      	<servlet-class>ServletB</servlet-class>
      </servlet><servlet-mapping>
      	<servlet-name>Servlet-A</servlet-name>
      	<url-pattern>/servletA</url-pattern>
      </servlet-mapping>
	<servlet-mapping>
		<servlet-name>Servlet-B</servlet-name>
		<url-pattern>/servletB</url-pattern>
	</servlet-mapping>

</web-app>